{{!-- Estilos con clases de bootstrap --}}
<main class="text-center d-flex align-items-center justify-content-center flex-column" style="height: 90vh;">
    <h1>Bienvenido a la aplicación de prueba</h1>
    <p>
        Elije una opción:
    </p>
    <div class="d-flex justify-content-center">
        <a href="/fs" class="btn btn-primary m-2">File System</a>
        <a href="/mongo" class="btn btn-primary m-2">Mongo</a>
        <a href="/firebase" class="btn btn-primary m-2">Firebase</a>
    </div>
</main>