{{!-- Estilos con clases de bootstrap --}}
{{> navbar}}

<main class="text-center d-flex align-items-center justify-content-center flex-column" style="height: 90vh;">
    <h1>Bienvenido a la tienda</h1>
    <p class="color-primary">Usa la barra de navegacion para navegar entre las diferentes paginas</p>
</main>